*log
key.py
*.txt
!requirements.txt
!requirements/*.txt
!base-pytorch-image/*
!base-python-image/*
*.ipynb
__pycache__
venv
*.DS_Store
*.egg-info
*sqlite_db
.vscode
801-content/
*secrets/
logos/
docs/site
setup.sh
.*
build/
