name: {{ name | default("default", true) }}

global:
  TRAINED_ON: {{ global.TRAINED_ON | default("", true) }}
  DATA_PATH: "{{ global.DATA_PATH | default('/root/data/', true) }}"
  ACCOUNTS_PATH: "{{ global.ACCOUNTS_PATH | default('/root/.accounts/', true) }}"
  ACCEPTED_FILES: 
    {%- for file_type in global.ACCEPTED_FILES | default(['.txt', '.html', '.pdf']) %}
    - "{{ file_type }}"
    {%- endfor %}
  ROLES:
    {%- for role in chains.base.ROLES | default(['User', 'A2rchi', 'Expert']) %}
    - {{ role }}
    {%- endfor %}
    logging:
      input_output_filename: "{{ chains.base.logging.input_output_filename | default('chain_input_output.log', true) }}"
  verbosity: {{ verbosity | default(3, true) }}

interfaces:
  chat_app:
    port: {{ interfaces.chat_app.port | default(7861, true) }}
    external_port: {{ interfaces.chat_app.external_port | default(7861, true) }}
    host: {{ interfaces.chat_app.host | default("0.0.0.0", true) }}
    hostname: {{ interfaces.chat_app.hostname | default("localhost", true) }}
    template_folder: "{{ interfaces.chat_app.template_folder | default('/root/A2rchi/a2rchi/interfaces/chat_app/templates', true) }}"
    static_folder: "{{ interfaces.chat_app.static_folder | default('/root/A2rchi/a2rchi/interfaces/chat_app/static', true) }}"
    num_responses_until_feedback: {{ interfaces.chat_app.num_responses_until_feedback | default(3, true) }}
    include_copy_button: {{ interfaces.chat_app.include_copy_button | default(false, true) }}
    enable_debug_chroma_endpoints: {{ interfaces.chat_app.enable_debug_chroma_endpoints | default(false, true) }}
    flask_debug_mode: {{ interfaces.chat_app.flask_debug_mode | default(true, false) }}
  uploader_app:
    port: {{ interfaces.uploader_app.port | default(5001, true) }}
    external_port: {{ interfaces.uploader_app.external_port | default(5003, true) }}
    host: {{ interfaces.uploader_app.host | default("0.0.0.0", true) }} # either "0.0.0.0" (for public) or "127.0.0.1" (for internal)
    template_folder: {{ interfaces.uploader_app.template_folder | default("/root/A2rchi/a2rchi/interfaces/uploader_app/templates", true) }}
    verify_urls: {{interfaces.uploader_app.verify_urls | default(true, false) }}
    flask_debug_mode: {{ interfaces.chat_app.flask_debug_mode | default(true, false) }}
  grader_app:
    port: {{ interfaces.grader_app.port | default(7861, true) }}
    external_port: {{ interfaces.grader_app.external_port | default(7861, true) }}
    host: {{ interfaces.grader_app.host | default("0.0.0.0", true) }}
    hostname: {{ interfaces.grader_app.hostname | default("localhost", true) }}
    template_folder: {{ interfaces.grader_app.template_folder | default("/root/A2rchi/a2rchi/interfaces/grader_app/templates", true) }}
    num_problems: {{ interfaces.grader_app.num_problems | default(1, true) }}
    local_rubric_dir: {{ interfaces.grader_app.rubric_dir }}
    local_users_csv_dir: {{ interfaces.grader_app.local_users_csv }}
    flask_debug_mode: {{ interfaces.chat_app.flask_debug_mode | default(true, false) }}
  grafana:
    external_port: {{ interfaces.grafana.external_port | default(3000, true) }}

data_manager:
  collection_name: {{ collection_name }}
  input_lists:
    {%- for input_list in data_manager.input_lists | default([]) %}
    - {{ input_list }}
    {%- endfor %}
  local_vstore_path: "{{ data_manager.local_vstore_path | default('/root/data/vstore/', true) }}"
  embedding_name: {{ data_manager.embedding_name | default('OpenAIEmbeddings', true) }}
  embedding_class_map:
    OpenAIEmbeddings:
      class: OpenAIEmbeddings
      kwargs:
        model: {{ data_manager.embedding_class_map.OpenAIEmbeddings.kwargs.model | default('text-embedding-3-small', true) }}
      similarity_score_reference: {{ data_manager.embedding_class_map.OpenAIEmbeddings.similarity_score_reference | default(10, true) }}
    HuggingFaceEmbeddings:
      class: HuggingFaceEmbeddings
      kwargs:
        model_name: {{ data_manager.embedding_class_map.HuggingFaceEmbeddings.kwargs.model_name | default('sentence-transformers/all-MiniLM-L6-v2', true) }}
        model_kwargs:
          device: {{ data_manager.embedding_class_map.HuggingFaceEmbeddings.kwargs.model_kwargs.device | default('cpu', true) }}
        encode_kwargs: 
          normalize_embeddings: {{ data_manager.embedding_class_map.HuggingFaceEmbeddings.kwargs.encode_kwargs.normalize_embeddings | default(true, true) }}
      similarity_score_reference: {{ data_manager.embedding_class_map.HuggingFaceEmbeddings.similarity_score_reference | default(10, true) }}
  chunk_size: {{ data_manager.chunk_size | default(1000, true) }}
  chunk_overlap: {{ data_manager.chunk_overlap | default(0, true) }}
  use_HTTP_chromadb_client: {{ data_manager.use_HTTP_chromadb_client | default(true, true) }}
  chromadb_host: {{ data_manager.chromadb_host | default('chromadb', true) }} # This should not be changed, it corresponds to the service name, 'chromadb', specified in the compose.yaml
  chromadb_port: {{ data_manager.chromadb_port | default(8000, true) }} # This should never really need to be changed off of 8000
  chromadb_external_port:  {{ data_manager.chromadb_external_port | default(8000, true) }}
  reset_collection: {{ data_manager.reset_collection | default(true, true) }}
  num_documents_to_retrieve: {{ data_manager.num_documents_to_retrieve | default(5, true) }}

a2rchi:
  pipeline: {{ a2rchi.pipeline | default('QAPipeline', true) }}
  pipeline_map:
    QAPipeline:
      max_tokens: {{ a2rchi.pipeline_map.QAPipeline.max_tokens | default(10000, true) }}
      prompts:
        condense_prompt: "{{ '/root/A2rchi/condense.prompt' if a2rchi.pipeline_map.QAPipeline.condense_model else null }}"
        chat_prompt: "{{ '/root/A2rchi/main.prompt' if a2rchi.pipeline_map.QAPipeline.chat_model else null }}"
      models:
        condense_model: {{ a2rchi.pipeline_map.QAPipeline.condense_model | default('null', true) }}
        chat_model: {{ a2rchi.pipeline_map.QAPipeline.chat_model | default('null', true) }}
    # GradingPipeline:
    #   IMAGE_PROCESSING_PROMPT: "{{ '/root/A2rchi/image_processing.prompt' if chains.chain.IMAGE_PROCESSING_MODEL_NAME else null }}"
    #   GRADING_SUMMARY_PROMPT: "{{ '/root/A2rchi/grading_summary.prompt' if chains.chain.GRADING_SUMMARY_MODEL_NAME else null }}"
    #   GRADING_ANALYSIS_PROMPT: "{{ '/root/A2rchi/grading_analysis.prompt' if chains.chain.GRADING_ANALYSIS_MODEL_NAME else null }}"
    #   GRADING_FINAL_GRADE_PROMPT: "{{ '/root/A2rchi/grading_final_grade.prompt' if chains.chain.GRADING_FINAL_GRADE_MODEL_NAME else null }}"
    #   IMAGE_PROCESSING_MODEL_NAME: {{ chains.chain.IMAGE_PROCESSING_MODEL_NAME | default('null', true) }}
    #   GRADING_SUMMARY_MODEL_NAME: {{ chains.chain.GRADING_SUMMARY_MODEL_NAME | default('null', true) }}
    #   GRADING_ANALYSIS_MODEL_NAME: {{ chains.chain.GRADING_ANALYSIS_MODEL_NAME | default('null', true) }}
    #   GRADING_FINAL_GRADE_MODEL_NAME: {{ chains.chain.GRADING_FINAL_GRADE_MODEL_NAME | default('null', true) }}
  model_class_map:
    AnthropicLLM:
      class: AnthropicLLM
      kwargs:
        model_name: {{ a2rchi.model_class_map.AnthropicLLM.kwargs.model_name | default('claude-3-opus-20240229', true) }}
        temperature: {{ a2rchi.model_class_map.AnthropicLLM.kwargs.temperature | default(1, true) }}
    OpenAIGPT4:
      class: OpenAILLM
      kwargs:
        model_name: {{ a2rchi.model_class_map.OpenAIGPT4.kwargs.model_name | default('gpt-4', true) }}
        temperature: {{ a2rchi.model_class_map.OpenAIGPT4.kwargs.temperature | default(1, true) }}
    OpenAIGPT35:
      class: OpenAILLM
      kwargs:
        model_name: {{ a2rchi.model_class_map.OpenAIGPT35.kwargs.model_name | default('gpt-3.5-turbo', true) }}
        temperature: {{ a2rchi.model_class_map.OpenAIGPT35.kwargs.temperature | default(1, true) }}
    DumbLLM:
      class: DumbLLM
      kwargs:
        sleep_time_mean: {{ a2rchi.model_class_map.DumbLLM.kwargs.sleep_time_mean | default(3, true) }}
        filler: {{ a2rchi.model_class_map.DumbLLM.kwargs.filler | default('null', true) }}
    LlamaLLM:
      class: LlamaLLM
      kwargs:
        base_model: {{ a2rchi.model_class_map.LlamaLLM.kwargs.base_model | default("meta-llama/Llama-2-7b-chat-hf", true) }}
        peft_model: {{ a2rchi.model_class_map.LlamaLLM.kwargs.peft_model | default("null", true) }}
        enable_salesforce_content_safety: {{ a2rchi.model_class_map.LlamaLLM.kwargs.enable_salesforce_content_safety | default(false, false) }}
        quantization: {{ a2rchi.model_class_map.LlamaLLM.kwargs.quantization | default(true, true) }}
        max_new_tokens: {{ a2rchi.model_class_map.LlamaLLM.kwargs.max_new_tokens | default(4096, true) }}
        seed: {{ a2rchi.model_class_map.LlamaLLM.kwargs.seed | default("null", true) }}
        do_sample: {{ a2rchi.model_class_map.LlamaLLM.kwargs.do_sample | default(true, true) }}
        min_length: {{ a2rchi.model_class_map.LlamaLLM.kwargs.min_length | default("null", true) }}
        use_cache: {{ a2rchi.model_class_map.LlamaLLM.kwargs.use_cache | default(true, true) }}
        top_p: {{ a2rchi.model_class_map.LlamaLLM.kwargs.top_p | default(0.9, true) }}
        temperature: {{ a2rchi.model_class_map.LlamaLLM.kwargs.temperature | default(0.6, true) }}
        top_k: {{ a2rchi.model_class_map.LlamaLLM.kwargs.top_k | default(50, true) }}
        repetition_penalty: {{ a2rchi.model_class_map.LlamaLLM.kwargs.repetition_penalty | default(1.0, true) }}
        length_penalty: {{ a2rchi.model_class_map.LlamaLLM.kwargs.length_penalty | default(1, true) }}
        max_padding_length: {{ a2rchi.model_class_map.LlamaLLM.kwargs.max_padding_length | default("null", true) }}
    HuggingFaceOpenLLM:
      class: HuggingFaceOpenLLM
      kwargs:
        base_model: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.base_model | default("Qwen/Qwen2.5-7B-Instruct-1M", true) }}
        peft_model: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.peft_model | default("null", true) }}
        enable_salesforce_content_safety: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.enable_salesforce_content_safety | default(false, false) }}
        quantization: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.quantization | default(true, true) }}
        max_new_tokens: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.max_new_tokens | default(4096, true) }}
        seed: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.seed | default("null", true) }}
        do_sample: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.do_sample | default(true, true) }}
        min_length: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.min_length | default("null", true) }}
        use_cache: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.use_cache | default(true, true) }}
        top_p: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.top_p | default(0.9, true) }}
        temperature: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.temperature | default(0.6, true) }}
        top_k: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.top_k | default(50, true) }}
        repetition_penalty: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.repetition_penalty | default(1.0, true) }}
        length_penalty: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.length_penalty | default(1, true) }}
        max_padding_length: {{ a2rchi.model_class_map.HuggingFaceOpenLLM.kwargs.max_padding_length | default("null", true) }}
    HuggingFaceImageLLM:
      class: HuggingFaceImageLLM
      kwargs:
        base_model: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.base_model | default("Qwen/Qwen2.5-VL-7B-Instruct", true) }}
        quantization: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.quantization | default(true, true) }}
        min_pixels: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.min_pixels | default(175616, true) }}
        max_pixels: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.max_pixels | default(1003520, true) }}
        max_new_tokens: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.max_new_tokens | default(4096, true) }}
        seed: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.seed | default("null", true) }}
        do_sample: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.do_sample | default(false, false) }}
        min_length: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.min_length | default("null", true) }}
        use_cache: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.use_cache | default(true, true) }}
        top_k: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.top_k | default(50, true) }}
        repetition_penalty: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.repetition_penalty | default(1.0, true) }}
        length_penalty: {{ a2rchi.model_class_map.HuggingFaceImageLLM.kwargs.length_penalty | default(1, true) }}
    VLLM:
      class: VLLM
      kwargs:
        base_model: {{ a2rchi.model_class_map.VLLM.kwargs.base_model | default("deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B", true) }}
        seed: {{ a2rchi.model_class_map.VLLM.kwargs.seed | default("null", true) }}
        enable_salesforce_content_safety: {{ a2rchi.model_class_map.VLLM.kwargs.enable_salesforce_content_safety | default(false, false) }}
        max_new_tokens: {{ a2rchi.model_class_map.VLLM.kwargs.max_new_tokens | default(4096, true) }}
        top_p: {{ a2rchi.model_class_map.VLLM.kwargs.top_p | default(0.95, true) }}
        temperature: {{ a2rchi.model_class_map.VLLM.kwargs.temperature | default(0.6, true) }}
        top_k: {{ a2rchi.model_class_map.VLLM.kwargs.top_k | default(50, true) }}
        repetition_penalty: {{ a2rchi.model_class_map.VLLM.kwargs.repetition_penalty | default(1.0, true) }}
        tensor_parallel_size: {{ a2rchi.model_class_map.VLLM.kwargs.tensor_parallel_size | default(1, true) }}
        gpu_memory_utilization: {{ a2rchi.model_class_map.VLLM.kwargs.gpu_memory_utilization | default(0.7, true) }}
        trust_remote_code: {{ a2rchi.model_class_map.VLLM.kwargs.trust_remote_code | default(true, true) }}
        tokenizer_mode: {{ a2rchi.model_class_map.VLLM.kwargs.tokenizer_mode | default("auto", true) }}
        max_model_len: {{ a2rchi.model_class_map.VLLM.kwargs.max_model_len | default(none, true) }}
  chain_update_time: {{ a2rchi.chain_update_time | default(10, true) }}

utils:
  postgres:
    port: {{ utils.postgres.port | default(5432, true) }}
    user: {{ utils.postgres.user | default('a2rchi', true) }}
    database: {{ utils.postgres.database | default('a2rchi-db', true) }}
    host: {{ postgres_hostname }}
  sso:
    ENABLED: {{ utils.sso.ENABLED | default(false, true) }}
    SSO_CLASS: {{ utils.sso.SSO_CLASS | default('CERNSSOScraper', true) }}
    SSO_CLASS_MAP:
      CERNSSOScraper:
        class: CERNSSOScraper
        kwargs:
          headless: {{ utils.sso.SSO_CLASS_MAP.CERNSSOScraper.kwargs.headless | default(true, true) }}
          max_depth: {{ utils.sso.SSO_CLASS_MAP.CERNSSOScraper.kwargs.max_depth | default(2, true) }}
  scraper:
    reset_data: {{ utils.scraper.reset_data | default(true, true) }}
    verify_urls: {{ utils.scraper.verify_urls | default(false, true) }}
    enable_warnings: {{ utils.scraper.enable_warnings | default(false, true) }}
  piazza:
    network_id: {{ utils.piazza.network_id }}
    update_time: {{ utils.piazza.update_time | default(60, true) }} # seconds
  mattermost:
    update_time: {{ utils.mattermost.update_time | default(60, true) }} # seconds
  redmine: 
    redmine_update_time: {{ utils.redmine.redmine_update_time | default(10, true) }}
    answer_tag: {{ utils.redmine.answer_tag | default('-- A2rchi -- Resolving email was sent', true)}}
  mailbox: 
    imap4_port:  {{ utils.mailbox.imap4_port | default(143, true) }}
    mailbox_update_time: {{ utils.mailbox.mailbox_update_time | default(10, true) }}
  jira:
    url: {{ utils.jira.url }}
    projects: 
      {%- for project in utils.jira.projects %}
      - {{ project }}
      {%- endfor %}
    anonymize_data: {{ utils.jira.anonymize_data | default(true, true) }}
  anonymizer:
    nlp_model: {{ utils.anonymizer.nlp_model | default('en_core_web_sm', true) }}
    excluded_words: 
      {%- for word in utils.anonymizer.excluded_words | default(['John', 'Jane', 'Doe']) %}
      - {{ word }}
      {%- endfor %}
    greeting_patterns: 
      {%- for pattern in utils.anonymizer.greeting_patterns | default(['^(hi|hello|hey|greetings|dear)\\b', '^\\w+,\\s*']) %}
      - {{ pattern }}
      {%- endfor %}
    signoff_patterns: 
      {%- for pattern in utils.anonymizer.signoff_patterns | default(['\\b(regards|sincerely|best regards|cheers|thank you)\\b', '^\\s*[-~]+\\s*$']) %}
      - {{ pattern }}
      {%- endfor %}
    email_pattern: '{{ utils.anonymizer.email_pattern | default("[\\w\\.-]+@[\\w\\.-]+\\.\\w+") }}'
    # This is a JIRA specific username pattern
    username_pattern: '{{ utils.anonymizer.username_pattern | default("\\[~[^\\]]+\\]") }}'