Host submit06
  HostName submit06.mit.edu
  User a2rchi
  IdentitiesOnly=yes
  PreferredAuthentications publickey
  PasswordAuthentication no
  IdentityFile ~/.ssh/id_rsa_submit
  StrictHostKeyChecking no

Host submit-t3desk
  HostName t3desk019.mit.edu
  User a2rchi
  IdentitiesOnly=yes
  PreferredAuthentications publickey
  PasswordAuthentication no
  IdentityFile ~/.ssh/id_rsa_submit
  StrictHostKeyChecking no

