<!DOCTYPE html>
<html>
<head>
    <title>File Manager</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            margin-bottom: 30px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>File Manager</h1>

    <h2>Upload File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Upload URL</h2>
    <form action="/upload_url" method="post">
        <input type="text" name="url" placeholder="Enter URL">
        <input type="submit" value="Upload URL">
    </form>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Uploaded Files</h2>
    <ul>
        {% for file in files %}
            <li>
                {{ file }}
                <a href="{{ url_for('delete', filename=file) }}" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Uploaded URLs</h2>
    <ul>
        {% for url in urls %}
            <li>
                {{ url }}
                <a href="{{ url_for('delete_url', encoded_url=url|urlencode) }}" onclick="return confirm('Are you sure you want to delete this URL?')">Delete</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
