<!DOCTYPE html>
<html>
<head>
<title>Terms and Conditions</title>
</head>

<h1>Terms and Conditions</h1>

<p>Welcome to A2rchi. By using this website, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms carefully before using the website. If you do not agree to these terms, you should not use the website.
</p>

<h3>1. Data Usage and Privacy:</h3>

<p><b>1.1</b> We may collect and store the questions you ask the chat bot for research and improvement purposes. However, we do not collect any additional meta data, and we will never share this information with any third party.</p>

<h3>2. Usage Restrictions:</h3>

<p><b>2.1</b> You agree to use the chat bot provided on the website only for its intended purpose and not for any unauthorized or unlawful activities.</p>

<p><b>2.2</b> You agree not to use the chat bot to generate spam or any automated content that disrupts the service or violates the rights of others.</p>

<h3>3. Termination of Use:</h3>

<p><b>3.1</b> We reserve the right to terminate your access to the chat bot and the website at our discretion, without notice, if you violate these terms and conditions.</p>

<h3>4. Changes to Terms and Conditions:</h3>

<p><b>4.1</b> We may revise these terms and conditions at any time without notice. By continuing to use the website after such changes, you agree to be bound by the revised terms.</p>

<h3>5. Disclaimer:</h3>

<p><b>5.1</b> The chat bot provided on the website is for informational purposes only. We do not guarantee the accuracy, completeness, or reliability of the information provided by the chat bot.</p>

<h3>6. Contact Us:</h3>

<p><b>6.1</b> If you have any questions or concerns regarding these terms and conditions, please contact us at a2rchi@mit.edu.</p>

<p>By using the website, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions. Your continued use of the website constitutes your acceptance of these terms.</p>
</body>
</html>
